* {
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:#000;
	cursor: default;
	font-family: "Monaco", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.incoming-messages {
	position: fixed;
	width: 600px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -145px;
	margin-left: -320px;
	background: #000;
	border: 1px solid #ccc;
	padding: 20px;
	color: #fff;
	font-size: 12px;
	overflow-y: scroll;
	font-family: Arial, sans-serif;
}

.scope-settings {
	height: 54px;
	margin-left: 0;
}

.button-group, .scope-button-group {
	display: inline-block;
}

.button, .scope-button-container {
	display: inline-block;
	margin-right: 4px;
	color: #ccc;
}

.button .full, .scope-full-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 50px;
	width: 50px;
	cursor: default;
}

.button .split, .scope-split-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 23px;
	width: 50px;
	cursor: default;
}

.button .vert, .scope-vertical-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 50px;
	width: 30px;
	cursor: default;
}

.button .selected, .scope-button-container .selected {
	background: #020;
	border-top: 2px solid #000900;
	border-right: 2px solid #353;
	border-bottom: 2px solid #343;
	border-left: 2px solid #000c00;
}

.scope-button-container div:hover:not(.disabled) p {
	color: #ab9;
}

.button .disabled, .scope-button-container .disabled {
	color: #555;
}

.button p, .scope-button-container p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 8px;
	text-transform: uppercase;
}

#scope {
	cursor:url(cross_cursor.png) 10 10, crosshair;
	margin-left: 0;
}

#previewArea {
	pointer-events:none;
	font-weight:bold;
	font-size:14;
	text-transform:uppercase;
	position:fixed;
	top:28%;
	left:7%;
	right:0;
	color:green;
	font-family:Monaco, sans-serif;
}

.situation-controls {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	background: #222;
}

.situation-controls > h1 {
	height: 54px;
	line-height: 54px;
	padding-left: 20px;
	text-transform: uppercase;
	background: #000;
	color: #888;
	font-size: 12px;
	border-bottom: 1px solid #2a2a2a;
}

.situation-controls .control-section {
	border-bottom: 1px solid #2a2a2a;
}

::-webkit-scrollbar { 
    display: none; 
}

.situation-controls .control-section.expanded {
	background: #000;
}

.situation-controls .control-section .scrollable {
	max-height: 250px;
	overflow-y: auto;
}

.situation-controls .control-section div {
	display: none;
}

.situation-controls .control-section.expanded div {
	display: block;
}

.situation-controls .control-section h1 {
	position: relative;
	height: 54px;
	line-height: 54px;
	padding-left: 20px;
	text-transform: uppercase;
	color: #888;
	font-size: 12px;
}

.situation-controls .control-section h1:hover {
	background: #000;
	cursor: pointer;
}

.situation-controls .control-section h1:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	top: 50%;
	right: 20px;
	margin-top: -5px;
	border-left: 5px solid #888;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.situation-controls .control-section.expanded h1:after {
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	top: 50%;
	right: 18px;
	margin-top: -3px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #888;
	border-bottom: none;
}

.situation-controls .control-section .setting {
	margin: 0 20px;
	padding: 10px 0;
	border-top: 1px solid #262626;
	overflow: hidden;
}

.situation-controls .control-section .setting .label {
	font-size: 12px;
	color: #888;
	display: inline-block;
}

.situation-controls .control-section .setting .value {
	display: inline-block;
}

.situation-controls .control-section .setting .button {
	padding: 3px 6px;
	margin: 0;
	margin-left: 6px;
	font-size: 10px;
	text-transform: uppercase;
	background: #222;
	border: 1px solid #2a2a2a;
	border-radius: 3px;
	float: right;
	cursor: pointer;
	color: #ccc;
}

.situation-controls .control-section .setting .button:hover {
	background: #2a2a2a;
}

.situation-controls .control-section .setting input {
	padding: 3px 6px;
	margin: 0;
	margin-left: 6px;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Oxygen Mono", sans-serif;
	background: transparent;
	border: none;
	outline: none;
	color: #ccc;
	text-align: right;
	background: #222;
	border: 1px solid #2a2a2a;
	border-radius: 3px;
	float: right;
	overflow: hidden;
}

.situation-controls .control-section .setting input:hover {
	background: #2a2a2a;
}

.situation-controls .control-section .setting .value input {
	border: none;
	background: #000;
	color: #aaa;
	font-family: "Oxygen Mono", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	width: 40px;
	outline: none;
}

.add-aircraft-dialog {
	position: fixed;
	top: 200px;
	left: 400px;
}

.add-aircraft-dialog .target {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	border: 2px solid #00b0b0;
	margin-top: -8px;
	margin-left: -8px;
	box-shadow: #000 5px 5px 0 -3px;
}

.add-aircraft-dialog .dialog-base {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 8px;
	margin-left: -1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #000;
	border: 2px solid #00b0b0;
	border-top: none;
	width: 149px;
	overflow: hidden;
}

.add-aircraft-dialog .field {
	padding: 10px;
	font-size: 12px;
	text-transform: uppercase;
	color: #006060;
	clear: left;
}

.add-aircraft-dialog .vertical-divider {
	border-right: 1px solid #00b0b0;
	width: 92px;
	height: 100%;
}

.add-aircraft-dialog .callsign {
	background: #000;
	padding: 2px 10px 10px 14px;
	border: none;
	border-bottom: 1px solid #00b0b0;
	border-right: 1px solid #00b0b0;
	float: left;
	clear: none;
	width: 75px;
}

.add-aircraft-dialog .type {
	padding: 2px 0 10px 0;
	border-bottom: 1px solid #00b0b0;
	float: left;
	clear: none;
	width: 49px;
	text-align: center;
}

.add-aircraft-dialog .heading, .add-aircraft-dialog .altitude {
	padding: 10px 0;
	border-right: 1px solid #00b0b0;
	border-bottom: 1px solid #00b0b0;
	float: left;
	clear: none;
	width: 49px;
	text-align: center;
}

.add-aircraft-dialog .speed {
	padding: 10px 0;
	border-bottom: 1px solid #00b0b0;
	float: left;
	clear: none;
	width: 49px;
	text-align: center;
}

.add-aircraft-dialog .route {
	padding: 10px 10px 30px 14px;
	border-bottom: 1px solid #00b0b0;
}

.add-aircraft-dialog .add {
	padding: 10px 0;
	text-align: center;
	color: #00B0B0;
}

.add-aircraft-dialog .dialog-top {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -2px;
	margin-left: 8px;
	border-top-right-radius: 3px;
	background: #000;
	border: 2px solid #00b0b0;
	border-left: none;
	border-bottom: none;
	width: 142px;
	height: 8px;

}