* {
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:#000;
}

.incoming-messages {
	position: fixed;
	width: 600px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -145px;
	margin-left: -320px;
	background: #000;
	border: 1px solid #ccc;
	padding: 20px;
	color: #fff;
	font-size: 12px;
	overflow-y: scroll;
	font-family: Arial, sans-serif;
}

.scope-settings {
	height: 54px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-group, .scope-button-group {
	display: inline-block;
}

.button, .scope-button-container {
	display: inline-block;
	margin-right: 4px;
	color: #ccc;
}

.button .full, .scope-full-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 50px;
	width: 50px;
	cursor: default;
}

.button .split, .scope-split-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 23px;
	width: 50px;
	cursor: default;
}

.button .vert, .scope-vertical-button {
	display: table;
	outline: none;
	background: #111;
	border-top: 2px solid #555;
	border-right: 2px solid #090909;
	border-bottom: 2px solid #060606;
	border-left: 2px solid #444;
	height: 50px;
	width: 30px;
	cursor: default;
}

.button .selected, .scope-button-container .selected {
	background: #020;
	border-top: 2px solid #000900;
	border-right: 2px solid #353;
	border-bottom: 2px solid #343;
	border-left: 2px solid #000c00;
}

.scope-button-container div:hover:not(.disabled) > p {
	color: #ab9;
}

.button .disabled, .scope-button-container .disabled {
	color: #555;
}

.button p, .scope-button-container p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 8px;
	text-transform: uppercase;
}

#scope {
	cursor:url(cross_cursor.png) 10 10, crosshair;
}

#previewArea {
	pointer-events:none;
	font-weight:bold;
	font-size:14;
	text-transform:uppercase;
	position:fixed;
	top:28%;
	left:7%;
	right:0;
	color:green;
	font-family:Monaco, sans-serif;
}